
$color-dark-grey: #555555;
$color-dark-grey-2:#262626;
$color-light-grey: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-grey: #b9b9b9;
$color-primary: #fc2c62;
$color-primary-dark: #2b040e;
$grid-gutter-width: 50px;